.footer {
    background-color: rgb(20, 20, 20);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    color: white;
}

h2 {
    cursor: pointer;
}