.footer {
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}

h2 {
    cursor: pointer;
}